@use "../utilities/breakpoints" as *;
@use "../base/variables" as *;
.stats {
  background: var(--bg-light);

  .stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  .stat-card {
    background: white;
    padding: 30px;
    border-radius: var(--radius-md);
    text-align: center;

    box-shadow: var(--shadow-sm);

    h2 {
      color: var(--primary);
      font-size: 36px;
    }
  }

  @include tablet {
    .stats-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
